<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Tutor</title>

	<link rel="stylesheet" href="stylesheet.css">
	<link rel="shortcut icon" href="static/images/jumpsmash.jpg">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>

<body>
	<div id="navigation">
		<ul>
			<a href="#home" id="" style="font-size:36px;padding-left:7.5%"class=smoothScroll>TUTE</a>
			<a href="#menu" id="hrefintro" class=smoothScroll>ABOUT</a>
			<a href="#about" id="hrefabout" class=smoothScroll>LEARN</a>
			<a href="#links" id="hreflinks" class=smoothScroll>TUTOR</a>
		</ul>
	</div>
	<div class="content-wrapper">
		<div class="content background" style="padding-top:100px;">
			<div class="header">
				<h1 class="white">Tute</h1>
				<br>
				<h2 class="white"style="padding:10px">Guaranteed a++ for your son and daughters.  Watch them grow into doctor lawyer biomed a++.  Coming to theaters soon</h2>
				<a href="#about" class="white"><h2 class="white button">Learn More</h2></a>
				<a href="http://github.com/liawesomesaucer/cyclone" class="white"><h2 class="white button">View on GitHub</h2></a>
			</div>
		</div>

		<div class="content">
			<br>
			<h3>Learn what you want, when you want it, and where you need it</h3>

			<div class="box-wrapper" style="margin-left:50px">
				<h4>What</h4>
				<div class="box box1">
				</div>

				<p>Dozens of subjects to choose from</p>
			</div>
			<div class="box-wrapper">
				<h4>When</h4>
				<div class="box box2">
				</div>

				<p>Request a tutor, on demand</p>
			</div>
			<div class="box-wrapper">
				<h4>Where</h4>
				<div class="box box3">
				</div>

				<p>Always find tutors nearby</p>
			</div>

			<div class="footer">
			</div>
			</div>
		</div>
	</div>

	
			
</body>

<script>
var time = 5000;
var img1 = "piano_bw.jpg";
var img2 = "driving_bw.jpg";
var img3 = "sunset_bw.jpg"
	$( ".background" ).css( {"background":"url(piano_bw.jpg)",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover",});
</script>