<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>TUTE</title>

	<link rel="stylesheet" href="stylesheet.css">
	<link rel="shortcut icon" href="logo200.png">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="smoothScroll.js"></script>

</head>

<body>
	<a name="home"/>
	<div id="navigation">
		<ul>
			<a href="#home" id="" style="font-size:36px;padding-left:7.5%"class=smoothScroll>TUTE</a>
			<a href="#about" id="hrefintro" class=smoothScroll>ABOUT</a>
			<a href="#about" id="hrefabout" onClick="javascript:learners();"class=smoothScroll>LEARN</a>
			<a href="#about" id="hreflinks" onClick="javascript:tutors();"class=smoothScroll>TUTOR</a>
		</ul>
	</div>
	<div class="content-wrapper">
		<div class="content background" style="padding-top:100px;">
			<div class="header">
				<br>
				<h1 class="white">Tute</h1>
				<h2 class="white"style="padding:8px">Kickstart your future - as a student or as a mentor</h2>
				<br>
				<a href="#about"style="color:white" class=smoothScroll><h2 class="white button">Learn More</h2></a>
				<a href="http://github.com/liawesomesaucer/cyclone" class="white"><h2 class="white button">View on GitHub</h2></a>
			</div>
		</div>
		<a name="about"/>
		<div class="content user">
			<br>
			<h3 id="what">Learn what you want, when you want it, and where you need it</h3>

			<div style="width:100%;margin:auto; text-align:center">
				<a href="javascript:learners()"><h3 class="switchbutton learners" style="background-color:#666666; color:white; border-color:#666666;">Learners</h3></a>
				<a href="javascript:tutors()"><h3 class="switchbutton tutors">Tutors</h3></a>
			</div>

			<div class="box-wrapper wrap1" style="margin-left:50px">
				<h4 id="box1">What</h4>
				<div class="box box1">
				</div>

				<p id="desc1">Dozens of subjects to choose from</p>
			</div>
			<div class="box-wrapper wrap2">
				<h4 id="box2">When</h4>
				<div class="box box2">
				</div>

				<p id="desc2">Request a tutor, on demand</p>
			</div>
			<div class="box-wrapper wrap3">
				<h4 id="box3">Where</h4>
				<div class="box box3">
				</div>

				<p id="desc3">Always find tutors close by</p>
			</div>
			<a href="javascript:show_fields()"><div style="margin:auto; width:315px;">
				<img src="Logo200.png" id="logo" style="display:block;margin-left:auto;margin-right:auto;height:100px;width:100px">
			
			<h3>Join Tute Today</h3>
			</div></a>

			<div id="form" style="margin:auto; width:600px; text-align:center;">
				<!-- <form action="asdf" id="register" style="float:center"> -->
					<input class="form-opt form-email" style="margin-top:0px;"type="text" name="email" placeholder="email"><br>
					<input class="form-opt form-password" type="text" name="password" placeholder="password"><br>
					<input class="form-opt form-name" type="text" name="name" placeholder="name"><br>
					<p id="message" style="line-height:32px;width:100%">We'll be using your location to find other tutors and students</p>
					<button class="form-opt form-button" style="width:200px;margin:auto;margin-top:10px" onClick="javascript:getLocation()">Kickstart!</button>
				<!-- </form> -->
			</div>

			<br><br><br>


			<div class="footer">
				<p style="text-align:center;width:100%;line-height:50px">Built with Python-Tornado, Heroku, Android, and Google-Play
			</div>
			</div>
		</div>
	</div>

	
			
</body>

<script>
var longitude;
var latitude;
var time = 0;
var img1 = "piano_bw.jpg";
var img2 = "clock_bw.jpg";
var img3 = "sunset_bw.jpg";
var img4 = "code_bw.jpg";
var img5 = "calendar_bw.jpg";
var img6 = "study_bw.jpg";

// Hide form
$( "#form" ).hide();
// changes the image
function change_image(img) {

	$( ".background" ).css( {"background":"url("+img+")",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"});
}

change_image(img1)

function tutors() {
	// first change buttons
	$( ".tutors" ).css( {
		"background-color":"#666666", 
		"color":"white", 
		"border-color":"#666666" 
	});
	$( ".learners" ).css( {
		"background-color":"white",
		"color":"#666666",
	});

	// then change message

	$( "#what" ).html( "Earn money enlightening others in your free time");

	// then change 3 things
	$( "#box1" ).html( "$ for skills" );
	$( "#box2" ).html( "Whenever" );
	$( "#box3" ).html( "Always Nearby" );

	$( "#desc1" ).html( "Dozens of skills demanded" );
	$( "#desc2" ).html( "Choose when you're available" );
	$( "#desc3" ).html( "Never need to go too far" );

	$( ".box1" ).css({"background":"url("+img1+") center center",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"} );
 	$( ".box2" ).css({"background":"url("+img5+") center center",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"} );
 	$( ".box3" ).css({"background":"url("+img6+") center center",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"} );
}
function learners() {

	// first change buttons
	$( ".learners" ).css( {
		"background-color":"#666666", 
		"color":"white", 
		"border-color":"#666666" 
	});
	$( ".tutors" ).css( {
		"background-color":"white",
		"color":"#666666",
	});

	// then change message
	$( "#what" ).html("Learn what you want, when you want it, and where you need it");

	// then change 3 things
	$( "#box1" ).html( "What" );
	$( "#box2" ).html( "When" );
	$( "#box3" ).html( "Where" );

	$( "#desc1" ).html( "Dozens of subjects to choose from" );
	$( "#desc2" ).html( "Request a tutor, on demand" );
	$( "#desc3" ).html( "Always find tutors close by" );

	$( ".box1" ).css({"background":"url("+img4+") center center",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"} );
 	$( ".box2" ).css({"background":"url("+img2+") center center",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"} );
 	$( ".box3" ).css({"background":"url("+img3+") center center",
	"-webkit-background-size": "cover",
  	"-moz-background-size": "cover",
 	"-o-background-size": "cover"} );
}

function show_fields() {
	$( "#form" ).fadeIn();
}

var xmlhttp = new XMLHttpRequest();
var herokuURL = "https://peaceful-falls-5727.herokuapp.com/create_user";

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        alert("Geolocation is not supported by this browser.");
    }
}
function showPosition(position) {

	
	window[latitude] = position.coords.latitude;
	window[longitude] = position.coords.longitude;
	if ( window[latitude] || window[longitude] ) {
		$( "#message" ).html("Please enable location usage for this service.").css({"color":"red"});
	}
}

// xmlhttp.onreadystatechange=function() {
// 	console.log("readyState = " + xmlhttp.readyState);
// 	console.log("status = " + xmlhttp.status);
// 	if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
// 		process_JSON(xmlhttp.responseText);
// 	}
// }

// xmlhttp.open("POST", herokuURL, true);
// xmlhttp.send();

</script>